<ion-header>
  <ion-toolbar class="borde">
    <ion-title>Encuesta Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <ion-card>
        <h1>Slide 1</h1>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  
  </ion-slides>
</ion-content>